<a href="https://colab.research.google.com/github/AthariDeepa/B19_1274/blob/main/lab%2029-08-2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data=[10,20,30,40,50]
series=pd.Series(data)
print("pandas Series:")
print(series)

pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data,index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
import pandas as pd
data={'Name':['Alice','Bob','Charlie','David'],'Age':[25,30,35,40],'City':['New York','San Francisco','Los Angeles','Chicago']}
df=pd.DataFrame(data)
df=pd.DataFrame(data)
print("pandas DataFrame:")
print(df)

pandas DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

In [6]:
#Accessing Data
print(df['Name'])
#Access multiple columns
print(df[['Name','City']])
#Access rows using index
print(df.loc[1])
print(df.loc[2])
#Adding a New column
df['salary']=[50000,60000,70000,80000]
print(df)
#Removing a Column
df=df.drop('City',axis=1)
print(df)

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles
3    David        Chicago
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object
Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
      Name  Age           City  salary
0    Alice   25       New York   50000
1      Bob   30  San Francisco   60000
2  Charlie   35    Los Angeles   70000
3    David   40        Chicago   80000
      Name  Age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [7]:
#Filtering Data
print(df[df['Age']>30])
#Basic Statistics
print(df['Age'].mean())
print(df['Age'].max())
print(df['Age'].min())

      Name  Age  salary
2  Charlie   35   70000
3    David   40   80000
32.5
40
25

In [9]:
import pandas as pd
#create a DataFrame with student details
student_data={'student_ID':[101,102,103,104],'Name':['Ravi','Neha','Kiran','Sita'],'Marks':[85,90,78,92],'Department':['CSE','ECE','MECH','CSE']}
df=pd.DataFrame(student_data)
print("student Data:")
print(df)

student Data:
   student_ID   Name  Marks Department
0         101   Ravi     85        CSE
1         102   Neha     90        ECE
2         103  Kiran     78       MECH
3         104   Sita     92        CSE

In [18]:
import pandas as pd

# Create student data
student_data = {
    'Roll No': [101, 102, 103, 104],
    'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
    'm1': [85, 90, 78, 92],
    'm2': [88, 95, 80, 85],
    'm3': [75, 89, 82, 90]
}

# Create DataFrame
df = pd.DataFrame(student_data)

# Calculate Total, Average, Result
df['Total'] = df[['m1', 'm2', 'm3']].sum(axis=1)
df['Average'] = df['Total'] / 3
df['Result'] = df[['m1', 'm2', 'm3']].apply(lambda x: 'Fail' if any(m < 35 for m in x) else 'Pass', axis=1)

# Print DataFrame
print("Student Data:")
print(df)

# Save to Excel
df.to_excel("student_data.xlsx", index=False)
print("\nExcel file 'student_data.xlsx' has been created successfully.")

Student Data:
   Roll No   Name  m1  m2  m3  Total    Average Result
0      101   Ravi  85  88  75    248  82.666667   Pass
1      102   Neha  90  95  89    274  91.333333   Pass
2      103  Kiran  78  80  82    240  80.000000   Pass
3      104   Sita  92  85  90    267  89.000000   Pass

Excel file 'student_data.xlsx' has been created successfully.