<a href="https://colab.research.google.com/github/AthariDeepa/B19_1274/blob/main/lab_12/09/2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from typing_extensions import dataclass_transform
import pandas as pd
import numpy as np
#creating a dataset with missing values
data={'Name':['Ravi','Neha','Kiran','Sita'],'Age':[25,np.nan,30,28],'Marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("original DataFrame:")
print(df)
#detecting missing values
print("\ncheck for Missing values:")
print(df.isnull())

original DataFrame:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

check for Missing values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [12]:
#drop rows with missing values
df_dropped=df.dropna()
print("After Dropping  Rows with NaN:")
print(df_dropped)

After Dropping  Rows with NaN:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [13]:
#fill missing values with a constant
df_filled=df.fillna(0)
print("After Filling Missing Values:")
print(df_filled)

After Filling Missing Values:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

In [14]:
data={
    'ID':[1,2,2,3,4,4],
    'Name':['Ravi','Neha','Neha','Kiran','Sita','Sita'],
    'Marks':[85,90,90,78,92,92]

}
df=pd.DataFrame(data)
print(df)
df_no_duplicates=df.drop_duplicates()
print(df_no_duplicates)

   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
2   2   Neha     90
3   3  Kiran     78
4   4   Sita     92
5   4   Sita     92
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
3   3  Kiran     78
4   4   Sita     92

In [15]:
data={
    'ID':[1,2,3,4],
    'Marks':['85','90','78','92']
}
df=pd.DataFrame(data)
print(df)
print(df.dtypes)
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=df['Marks'].astype(float)
print(df)

   ID Marks
0   1    85
1   2    90
2   3    78
3   4    92
ID        int64
Marks    object
dtype: object
   ID  Marks
0   1   85.0
1   2   90.0
2   3   78.0
3   4   92.0

In [16]:
data={'ID':['1','2','3','4'],'Marks':['85','90','78','92']}
df=pd.DataFrame(data)
print(df)

  ID Marks
0  1    85
1  2    90
2  3    78
3  4    92

In [18]:
#applying transformation-add 5 bonus marks
df['Marks'] = df['Marks'].astype(float) # Convert 'Marks' to float
df['Marks']=df['Marks'].apply(lambda X:X+5)
print("After Adding Bonus Marks:")
print(df)

After Adding Bonus Marks:
  ID  Marks
0  1   90.0
1  2   95.0
2  3   83.0
3  4   97.0

In [19]:
#Normalization of Marks
df['Marks']=df['Marks']/df['Marks'].max()-df['Marks'].min()
print("After Normalization:")
print(df)

After Normalization:
  ID      Marks
0  1 -82.072165
1  2 -82.020619
2  3 -82.144330
3  4 -82.000000